@using System.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Chapel Studios - @ViewData["Title"]" />
    <meta property="og:image" content="https://www.chapelstudios.dev/Assets/Images/Icons/SmallLogo.jpg" />
    <meta property="og:url" content="https://www.chapelstudios.dev" />

    <title>@ViewData["Title"] - Chapel Studios</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/core.css" />
        <script src="~/js/CSTools.js"></script>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/core.css" asp-append-version="true" />
        <script src="~/js/CSTools.min.js" asp-append-version="true"></script>
    </environment>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/acfd707b9b.js" crossorigin="anonymous"></script>
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a class="brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <input id="navbar-checkbox" type="checkbox" autocomplete="off" />
                <label for="navbar-checkbox" class="navbar-toggler"><span></span></label>
                <div class="navbar-collapse">
                    <partial name="_Navigation" />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="to-top-btn"></div>

    <footer>
        <div class="container">
            <a class="brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
            <ul class="sitemap">
                <li><a asp-page="/Home/Contact">Contact Us</a></li>
                <li><a asp-page="/Home/Team">Our Team</a></li>
                @RenderSection("SiteMap", false)
                <partial name="_LoginFooter" />
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
            @RenderSection("Footer", false)
            <div class="copyright">
                &copy; 2020 - Chapel Studios &amp; Jake Blackwell
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/js/core.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/core.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
