@using System.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chapel Studios</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/core.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/acfd707b9b.js" crossorigin="anonymous"></script>
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a class="brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <input id="navbar-checkbox" type="checkbox" autocomplete="off" />
                <label for="navbar-checkbox" class="navbar-toggler"><span></span></label>
                <div class="navbar-collapse">
                    <partial name="_Navigation" />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="brand"></div>
            <ul class="sitemap">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Team</a></li>
                @RenderSection("SiteMap", false)
                <partial name="_LoginFooter" />
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
            @RenderSection("Footer", false)
            <div class="copyright">
                &copy; 2020 - Chapel Studios &amp; Jake Blackwell
            </div>
        </div>
    </footer>

    <script src="~/js/core.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
